<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenue !</title>
        <style>
            caption { border: red solid 1px; }
            table { border: black solid 1px; }
            td { border: black solid 1px; }
        </style>

    </head>
    <body>
        <h1>Bienvenue {{ prenom }}</h1>
        <table>
            <caption>Mes jeux préférés sont&nbsp;:</caption>
                {% set i = 1 %}
                {% for jeu in jeux %}
                    <tr>
                        <td>{{ i }}:{{ jeu }}</td>            {# i peut être avantageusement remplacé par loop.index #}
                    </tr>
                    {% set i = i+1 %}
                {% else %}                        {# utilisé si aucune itération n'est effectuée #}
                    <tr><td>je ne préfère aucun jeu&nbsp;!</td></tr>
                {% endfor %} {# cc fin du tp2 #}
        </table>
    </body>
</html>